<%- include('includes/head') %>

<%- include('includes/header') %>

<div class="dashboard-wrapper row">
    <div class="left">
        <%- include('includes/dashboard-menu') %>
    </div>

    <div class="right">
        <%- include('includes/index') %>
    </div>
</div>

<%- include('includes/footer') %>