<h3>
    <ion-icon name="home"></ion-icon>Strona główna
</h3>

<hr>

<div class="row">
    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Informacje o koncie</h4>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Użytkownik:</td><td><%= user.username %></td>
                </tr>
                <tr>
                    <td>Saldo konta:</td><td><span class="subkonto-value money"><%= user.subkonto %></span></td>
                </tr>
            </tbody>
        </table>
        <a href="/dashboard/subkonto/inpay"><button class="btn">Doładuj</button></a>
    </div>

    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Informacje finansowe</h4>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Wartość konta</td><td class="money"><%= userAccountValue %></td>
                </tr>
                <tr>
                    <td>Zysk w tym miesiącu:</td><td class="money"><%= currentMonthIncome %></td>
                </tr>
                <tr>
                    <td>Zysk z poprzedniego miesiąca:</td><td class="money"><%= previousMonthIncome %></td>
                </tr>
                <tr>
                    <td>Zysk w tym roku:</td><td class="money"><%= currentYearIncome %></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Bieżąca zbiórka</h4>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Inwestycja w zbiórce:</td><td class="money"><%= user.part %></td>
                </tr>
                <tr>
                    <td>Przyszły zysk ze zbiórki:</td><td class="money"><%= futureIncome %></td>
                </tr>
            </tbody>
        </table>
        <a href="/dashboard/pools"><button class="btn">Inwestuj</button></a>
    </div>

    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Terminarz płatności</h4>
        <hr>
        <% if(userNextPayments.length) { %>
            <table>
                <tbody>

                <% userNextPayments.forEach(payment => { %>

                    <tr>
                        <td>Produkt:</td><td><%= payment.type %></td>
                    </tr>
                    <tr>
                        <td>Następny termin:</td><td><%= payment.termin %></td>
                    </tr>
                    <tr>
                        <td>Kwota:</td><td class="money"><%= payment.amount %></td>
                    </tr>
                <% }); %>

                </tbody>
            </table>
       <% } else { %>
            <div>Nie posiadasz jeszcze żadnych produktów</div>
       <% } %>
        
            
        <a href="/dashboard/my-products"><button class="btn">Moje produkty</button></a>
    </div>

    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Emerytura</h4>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Cel:</td><td class="money"><%= targetPension %></td>
                </tr>
                <tr>
                    <td>W wieku:</td><td><%= targetAge %> lat</td>
                </tr>
                <tr>
                    <td>Potrzebujesz zainwestować w tym miesiącu:</td><td class="money"><%= monthlyInvest %></td>
                </tr>
                <tr>
                    <td class="sex">Zainwestowałeś</td><td class="money"><%= currentMonthInvested %></td>
                </tr>
            </tbody>
        </table>
        <a href="/dashboard/emerytura"><button class="btn">Ustawienia</button></a>
    </div>

    <div class="tile">
        <h4><ion-icon name="person"></ion-icon>Informacje o zadłużeniu</h4>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Pożyczki w trakcie spłaty:</td><td>0</td>
                </tr>
                <tr>
                    <td>Pozostało do spłaty:</td><td class="money">0.00</td>
                </tr>
                <tr>
                    <td>Odsetki karne:</td><td class="money">0.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>