<h3>Sprawy</h3>

<%- include('../../../frontend/includes/flash.ejs') %>




<% if(transfers_array.length) { %>

<div class="box2">

    <h4>Istnieją następujące zyski do wysłania za okres <strong style="margin-left: .7rem"><%= previous_billing_period.startingDate %></strong><strong style="margin-left: .3rem; margin-right: .3rem">|</strong><strong><%= previous_billing_period.endingDate %></strong></h4>

    <table class="table1 income_table">
        <tbody>
            <tr>
                <th>Nick</th>
                <th>Kwota</th>
                <th>Zyski sumując</th>
            </tr>

            <% transfers_array.forEach(transfer => { %>
            
                <tr>
                    <td class="text-center"><%= transfer.recipient_username %></td>
                    <td class="text-center money"><%= transfer.amount %></td>
                    <td class="text-center b money"><%= transfer.sum %></td>
                </tr>

            <% }); %>

        </tbody>
    </table>

    <h4>Wypracowany zysk netto za tamten okres to: <span style="margin-left: .7rem" class="b money"><%= total_netto %></span></h4>

    <a href="/dashboard/admin/send">
        <button class="btn" style="margin-top: .5rem">Roześlij</button>
    </a>

</div>
<% } %>


<div id="admin">

<% if(currentPool) {

    if(currentPool.total == currentPool.amount) { %>

        <div class="case" style="text-align: center">
            <h4>Bieżąca zbiórka oczekuje na zatwierdzenie</h4>
    
            <a href="/dashboard/pools"><button class="btn">Przejdź do zbiórki</button></a>
        </div>
    
    
<% }} %>

 
<% if(pending_payments.length) { %>

    <div class="case">
        <h4>Istnieją wpłaty oczekujące na zatwierdzenie</h4>

            <table>
                <tbody>
                    <tr>
                        <th>Status</th>
                        <th>Tytuł</th>
                        <th>Kwota</th>
                        <th>Czas</th>
                        <th></th>
                    </tr>
                
    
        <% pending_payments.forEach(payment => { %>

            <tr>
                <td><%= payment.status %></td>
                <td><%= payment.title %></td>
                <td class="money"><%= payment.amount %></td>
                <td><%= payment.created_at %></td>
                <td>
                    <form id="form<%= payment._id %>" class="verify-payment-form" action="/payment/<%= payment._id %>/edit" method="POST">
                        <input id="author<%= payment._id %>" type="hidden" value="<%= payment.author_id %>">
                        <input id="input<%= payment._id %>" type="hidden" value="<%= payment.amount %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button id="#btn<%= payment._id %>" class="btn">Zatwierdź</button>
                    </form>
                </td>
            </tr>


    <% }); %>
            </tbody>
        </table>
    </div>

<% } %>

</div>

