<h3>Emerytura</h3>
<hr>

<div class="box2">
    <h4>Średnia miesięczna rentowność aktywów: <strong style="margin-left: .7rem"><%= average.toFixed(4) %>%</strong></h4>
    <h4>Potrzebujesz zbudować kapitał o wartości: <strong style="margin-left: .7rem" class="money"><%= targetCapital %></strong></h4>
    <h4>Aby wypłacać co miesiąc: <strong style="margin-left: .7rem" class="money"><%= targetPension %></strong></h4>
    <h4>Twój aktualny kapitał: <strong style="margin-left: .7rem" class="money"><%= userAccountValue %></strong></h4>
    <h4>Brakuje: <strong style="margin-left: .7rem" class="money"><%= missingCapital %></strong></h4>
    <h4>Twój aktualny wiek: <strong style="margin-left: .7rem"><%= currentAge %></strong></h4>
    <h4>Docelowy wiek przejścia na emeryturę: <strong style="margin-left: .7rem"><%= targetAge %></strong></h4>
    <h4>Pozostało miesięcy: <strong style="margin-left: .7rem"><%= months %></strong></h4>
    <h4>Musisz co miesiąc inwestować: <strong style="margin-left: .7rem" class="money"><%= monthlyInvest %></strong></h4>
</div>